# Настройки подключения к PostgreSQL внутри Docker
DB_NAME=public
DB_USER=postgres
DB_PASSWORD=secret_password
DB_HOST=db
DB_PORT=5432

# Настройки безопасности сессий и JWT
ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_SECRET_KEY=ae11e322309aac5ee2082cd08ec582a92fb3e4fdf1509b97fbb0bc2562b88e47
JWT_ALGORITHM=HS256